{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin", "prettier"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "project": "tsconfig.json",
    "warnOnUnsupportedTypeScriptVersion": false,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "ignorePatterns": [".eslintrc", "hardhat.config.ts"],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
